In [1]:
import pandas as pd

# Data is Wisconsin Diagnosis Breast Cancer -- from https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic).
# Load the dataset and have a look. (Names for the dataset are in another file, annoyingly.)
df = pd.read_csv('gisette_train.data', header=None)
df.head()

                                                   0
0  550 0 495 0 0 0 0 976 0 0 0 0 983 0 995 0 983 ...
1  0 0 0 0 0 0 0 976 0 0 0 0 0 0 584 0 0 0 0 0 0 ...
2  0 0 0 0 0 0 0 0 0 0 0 0 983 0 995 983 976 0 0 ...
3  0 0 742 0 0 0 0 684 0 956 0 0 983 0 991 816 98...
4  0 0 0 0 0 0 0 608 0 979 0 0 0 0 972 0 0 0 0 0 ...

In [3]:
label_df = pd.read_csv('gisette_train.labels',header=None)